<html>
<head>
<title>My To-Do List</title>
<link rel="manifest" href="/manifest.json">
<meta name="theme-color" content="#f6a9b3">
<style> body{
background-color:lavender;
align-items:center;
font-family:Bodoni MT Black;}
.container{
text-align:center;}
h1{font-size:50px;
color:pink;
text-align:center;}
</style>
</head>
<body>
<h1>My To-Do List</h1>
<a href="/login">
<button>Enter</button>
</a>
</div>
<script>
    if ('serviceworker' in navigator){
        navigator.serviceWorker.register('/service-worker.js');
    }
</script>
</body>
</html>